doctype html
html
    head
        title="Request Header Microservice"
        meta(charset="UTF-8")
        meta(
            name="viewport", 
            content="width=device-width, initial-scale=1")
        link(
            rel="stylesheet", 
            href="/public/stylesheets/styles.css",
            type='text/css'
            )
        link(
        rel="shortcut icon", 
        href="/public/assets/favicon.ico",
        type='image/vnd.microsoft.icon'
        )
    body
        div(class="container")
            h1 Welcome to My Request Header Microservice
            h2 How To Use
            p 
                | The API can be accessed by appending 'sabesquiensoy' to the URL. 
            p
                | The server will respond with a JSON containing the ipaddress,
                | request langauage and request operating system.
            h3 Example Usage
            p 
                |  <em>Request</em>: https://stormy-fortress-66721.herokuapp.com/sabesquiensoy
            p  
                |  <em>Response</em>: {"ipaddress":"::ffff:xx.xx.xx.xxx","language":"en-GB,en-US","OS":"iPad; CPU OS 9_1 like Mac OS X"}